<div class="row row_ext">
  <div class="col-5 col_ext">
    <div class="card cent">
      <div class="card-body">
        <h5 class="card-title">Taskque</h5>
        <p class="card-text">
          Taskque is a task management application developed using Angular
          framework. The application allows users to add tasks, mark tasks as
          completed, and filter tasks based on their completion status.
        </p>
        <button type="button" class="btn btn-primary" routerLink="/Task-Listing">Take me to the App</button>
      </div>
    </div>
  </div>
</div>
