.margin{
  margin: auto;
}

.commoSt{
  margin-bottom: 0px;
  color: white;
  width: fit-content;
  padding: 3px 16px;
  border-radius: 8px;
}

.red{
  background: #e72121;
}

.green{
  background: #14ad25;
}
