
  <nav class="navbar navbar-light bg-light marBottom">
    <a class="navbar-brand" href="#">Taskque</a>
  </nav>
  <div class="marTop">
    <app-app-create-task></app-app-create-task>
    <app-app-filter></app-app-filter>
    <div class="row justCont">
      <div class="col-12 col-md-10" *ngIf="taskListing.length !== 0; else noTask">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Task Name</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col" style="width:  30%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let task of taskListing; let i = index">
                <tr *ngIf="statusFilter === task.status || !statusFilter === !task.status || showAllList">
                  <td>{{i + 1}}</td>
                  <td>{{task.taskName}}</td>
                  <td>{{task.description}}</td>
                  <td>
                    <p class="commoSt" [ngClass]="task.status ? 'green' : 'red'">
                      {{task.status ? 'Completed' : 'Incomplete'}}
                    </p>
                  </td>
                  <td>
                    <div class="row">
                      <div class="col-12 col-md-6 form-check margin">
                        <input class="form-check-input" type="checkbox" [checked]="task.status" (change)="checkStatus($event, task)">
                        <label class="form-check-label" >
                          {{task.status ? 'Completed' : 'Mark as Completed'}}
                        </label>
                      </div>
                      <div class="col-12 col-md-6">
                        <button type="button" [disabled]="task.status" class="btn btn-light" ngbTooltip="Delete this task"  (click)="deleteTask(task)">
                          <i class="bi bi-trash3-fill"></i>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>


      </div>
      <ng-template #noTask>
        <div class="col-12 col-md-10">
          <p>No task added in the task list. please create a task</p>
        </div>
      </ng-template>
    </div>
  </div>


