
  <nav class="navbar navbar-light bg-light marBottom">
    <a class="navbar-brand" href="#">Taskque</a>
  </nav>
  <div class="marTop">
    <app-app-create-task></app-app-create-task>
    <div class="row justCont">
      <div class="col-12 col-md-10">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Task Name</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


